extends ../../layouts/default.pug
include ../../mixins/list-music.pug
block main
    .main-content2
        .title-first.my-3 
            h5 Chủ đề #{topic.title}
        +list-music(songs)        
            
                   
                         

