extends ../../layouts/default.pug
block main
    .main-content2
        .title-first.my-3 
            h5 Chủ đề & Danh mục
        each category in categorys
            .title-category 
                h4 #{category.title}
            ul.banner-topic.d-flex.my-3
                each topic in category.listTopic
                    li
                        a(href=`/topics/detail/${topic.slug}`)
                            img(src=topic.avatar width="80%"  alt="")
                        .title-topic #{topic.title}
                