.head-content2.container.py-3.row
    form(action="/search" class="col-6" method="get")
        .input-group.find-header
            input(class="form-control" name="keyword")
            button(class="btn px-3")
                i(class="fa-solid fa-magnifying-glass")
            .suggest-find-header.show
                
                    
                
                

    .col-6.d-flex.justify-content-evenly
        a(href=(userInfo?"/favorites":"/login") class="btn text-light") 
            i(class="fa-solid fa-heart text-danger")
            span.mx-2 Yêu thích  
        a(href=(userInfo?"/profile":"/login") class = "btn text-light")
            i(class="fa-solid fa-user")
            span.mx-2 Hồ sơ
        - if (userInfo) 
            a(href="/logout" class = "btn text-light")
                i(class="fa-solid fa-right-from-bracket")
                span.mx-2 Đăng xuất