script(src='/js/jquery-3.3.1.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/js/mixitup.min.js')
script(src='/js/jquery.countdown.min.js')
script(src='/js/jquery.slicknav.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.nicescroll.min.js')
script(src='/js/main.js')
script(src='/js/script.js')
