.head-content1
    .head-logo.p-3 
        img(src="https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg", width="135px" alt="")
    .main-content1 
        ul 
            li.my-2 
                a(href="/home") Trang chủ 
            li.my-2 
                a(href="") Thư viện 
            li.my-2 
                a(href="/topics") Chủ đề & Thể loại