include ../mixins/messages-alert.pug

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title SB Admin 2 - Dashboard
  // Custom fonts for this template
  link(href='/admin/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
  link( rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview/dist/style.css")
  script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js") 

  // Custom styles for this template
  link(href='/admin/css/sb-admin-2.min.css', rel='stylesheet')
  link(rel="stylesheet", href="/admin/css/style.css")
// Page Wrapper
  
#wrapper
  +messages-error("5000")
  +messages-success("5000")
  include ../partials/navbar.pug
  // Content Wrapper
  block main
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
#logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Ready to Leave?
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body Select &quot;Logout&quot; below if you are ready to end your current session.
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
        a.btn.btn-primary(href='/admin/auth/logout') Logout
// Bootstrap core JavaScript
script(src='/admin/vendor/jquery/jquery.min.js')
script(src='/admin/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/admin/vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/admin/js/sb-admin-2.min.js')
// Page level plugins
script(src='/admin/vendor/chart.js/Chart.min.js')
// Page level custom scripts
script(src='/admin/js/demo/chart-area-demo.js')
script(src='/admin/js/demo/chart-pie-demo.js')
script(src="/admin/js/script.js") 
script(src="/tinymce/tinymce.min.js")
script(src="/admin/js/tinymce.js") 
script(src="/js/show-alert.js") 
