extends ../../layouts/default.pug
include ../../mixins/list-music.pug

block main
    .main-content2
        .title-first.my-3 
            h5 Chủ đề nổi bật
        ul.banner-topic.d-flex.my-3
            each topic in topics
                li
                    a(href=`/topics/detail/${topic.slug}`)
                        img(src=topic.avatar width="80%"  alt="")
                    .title-topic #{topic.title}                
        .title-second.my-3 
            h5 Mới phát hành
        +list-music(songs)
                   
                         

