extends ../../../layouts/auth 


block main
    form(action="/admin/auth/login?_method=PATCH" method="POST" class="form-group col-5 border py-3 px-3")
        h2.text-center.my-3 Đăng nhập
        label(for="" class="form-group my-1") email: 
        input(type="text" name="email" class="form-control" required placeholder="Nhập email....") 
        label(for="" class="form-group my-1") Mật khẩu:  
        input(type="password" name="password" class="form-control" required placeholder="Nhập mật khẩu....")
        .text-center
            input(type="submit" value="Đăng nhập" class="btn btn-primary my-3 form-control")
        