extends ../../layouts/auth.pug


block main
    form(action="/comfirm-password-new?_method=PATCH" method="POST" class="form-group col-5 border py-3 px-3")
        h2.text-center.my-3 Tạo mật khẩu mới 
        label(for="" class="form-group my-1") Mật khẩu:  
        input(type="password" name="password" class="form-control" required placeholder="Nhập mật khẩu....")
        label(for="" class="form-group my-1") Nhập lại mật khẩu:  
        input(type="password" name="rePassword" class="form-control" required placeholder="Nhập mật khẩu....")
        .text-center
            input(type="submit" value="Tiếp tục" class="btn btn-primary my-3 form-control")


