extends ../../layouts/auth.pug


block main
    form(action="/forgot-password?_method=PATCH" method="POST" class="form-group col-5 border py-3 px-3")
        h2.text-center.my-3 Quên mật khẩu
        label(for="" class="form-group my-1") Email: 
        input(type="text" name="email" class="form-control" email-forgot-password required placeholder="Nhập email....")
        div(class="my-3" ) 
            label(class="form-label d-block") OTP
                span.text-danger *
            .input-group
                input(type="text" placeholder="Nhập otp...." require class="form-control d-block" name="otp" )
                .input-group-append
                    span(send-otp-forgot-password class="btn btn-primary") Nhận OTP
        div(class="mb-3" message-otp)
            label(class="form-label d-block text-danger")
        .text-center
            input(type="submit" value="Tiếp tục" class="btn btn-primary my-3 form-control")
        .action.d-flex
            a(href="/login" class=" p-2") Đăng nhập
            a(href="/register" class="ml-auto p-2") Đăng ký

