include ../../admin/mixins/messages-alert.pug
include ../mixins/tree-category.pug
doctype html
head
  meta(charset='UTF-8')
  meta(name='description', content='Ashion Template')
  meta(name='keywords', content='Ashion, unica, creative, html')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Ashion | Template
  //link css
  include ../partials/link-css.pug
  //end link css
+messages-success(5000)
+messages-error(5000)

include ../partials/header.pug
block main
//footer
include ../partials/footer.pug
//end footer
// Js Plugins

include ../partials/link-script.pug
